.profile__edit-button {
    min-width: 24px;
    height: 24px;
    background-image: url(../../../images/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: 1px solid #FFF;
    background-color: #000;
    transition: .2s ease-in;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        min-width: 18px;
        height: 18px;
    }
}