.page {
<<<<<<< HEAD
  min-height: 100vh;
=======
>>>>>>> f21a9ca5e7829457bf407e40cea63d15448da25e
  background-color: #000;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
