.popup__input {
    width: 100%;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-bottom: 30px;
    padding-bottom: 13px;
    outline: none;
}

.popup__input:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 320px) {
    .popup__input {
        width: 238px;
    }
}