.profile {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 51px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.profile {
		max-width: 690px;
		flex-direction: column;
	}
}

@media screen and (max-width: 400px) {
	.profile {
		max-width: 282px;
	}
}