.popup__button {
  width: 358px;
  height: 50px;
  margin: 48px 0 37px 0;
  background: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: none;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .popup__button {
    width: 238px;
    height: 46px;
    margin: 45px 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
