.profile__subtitle {
    max-width: 336px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        padding-bottom: 36px;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}