.profile__title {
    max-width: 350px;
    margin: 0 18px 16px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .profile__title {
        margin: 22.25px 10px 14px;
        font-size: 27px;
        line-height: 33px;
    }
}
