.list-photo__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat; 
  background-position: center;
  background-color: transparent;
  transition: .2s ease-in;
  border: 0;
  cursor: pointer;
}

.list-photo__like:hover {
  opacity: .6;
}