.popup__close {
	width: 32px;
	height: 32px;
	position: absolute;
	top: -39px;
	right: -39px;
	cursor: pointer;
	background-color: transparent;
	background-image: url(./../../../images/Close.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}

.popup__close:hover {
	opacity: .6;
}

@media screen and (max-width: 768px) {
	.popup__close {
		width: 20px;
		height: 20px;
		top: -38px;
		right: 1px;
	}
}