.footer__paragraph {
  margin: 0;
  padding: 67px 0 60px;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 320px) {
  .footer__paragraph {
    padding: 48px 0 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
